<?xml version="1.0" encoding="UTF-8"?>
<config>

	<clock>
		<timezone>HKT</timezone>
		<url>https://calendar.google.com/calendar/</url>
	</clock>

	<shortcuts>
		<reddit>
			<title>COW</title>
			<url>https://www.reddit.com/r/Competitiveoverwatch/</url>
		</reddit>
		<reddit>
			<title>MouseReview</title>
			<url>https://www.reddit.com/r/MouseReview/</url>
		</reddit>
		<reddit>
			<title>mk</title>
			<url>https://www.reddit.com/r/MechanicalKeyboards/</url>
		</reddit>

		<social>
			<title>Discord</title>
			<url>https://discordapp.com/app</url>
		</social>
		<social>
			<title>Twitter</title>
			<url>https://twitter.com/</url>
		</social>
		<social>
			<title>WhatsApp</title>
			<url>https://web.whatsapp.com/</url>
		</social>

		<work>
			<title>Drive</title>
			<url>https://drive.google.com/</url>
		</work>
		<work>
			<title>Gmail</title>
			<url>https://gmail.google.com/</url>
		</work>
		<work>
			<title>Keep</title>
			<url>https://keep.google.com/</url>
		</work>

		<ssh>
			<title>desktop</title>
			<url>ssh://rex.ky.ng@home.com</url>
		</ssh>
		<ssh>
			<title>nextcloud</title>
			<url>ssh://rex.ky.ng@timescam.duckdns.org</url>
		</ssh>
		<ssh>
			<title>media</title>
			<url>ssh://rex.ky.ng@media-server.duckdns.org</url>
		</ssh>
	</shortcuts>

	<search>https://duckduckgoog.up.railway.app</search>

</config>