:root {
	--black: var(--color0);
	--base03: var(--background);
	--red: var(--color1);
	--green: var(--color2);
	--yellow: var(--color3);
	--blue: var(--color4);
	--magenta: var(--color5);
	--cyan: var(--color6);
	--white: var(--foreground);
}

body,
body * {
	margin: unset;
	box-sizing: unset;
	padding: unset;
	font-size: 16px;
	color: var(--white);
	font-family: "JetBrains Mono", "Sarasa Term CL", monospace;
	text-decoration: unset;
}

body {
	background-color: var(--base03);
	padding: 24px;
}

.newline {
	padding-top: 4px;
	padding-bottom: 4px;
}

.username {
	color: var(--blue)
}

.path {
	color: var(--magenta);
}

.prompt,
.return {
	color: var(--green);
}

td, 
th {
	padding-right: 16px;
}

table {
	border: none;
}

input {
	background-color: var(--base03);
	outline: none;
	border: none;
	color: var(--white);
	font-family: var(--fontList);
	font-size: 16px;
	padding-left: 5px;
}

#search {
	display: flex;
	width: 100%;
}

#search-bar {
	height: 20px;
	width: 100%;
	overflow: hidden;
	background: var(--base03);
	font-family: var(--fontList);
	display: flex;
}

#textfield {
	width: 100%;
}

td > a:hover {
	color: var(--cyan);
	text-decoration: none;
}

td > a:active {
	color: var(--yellow);
	text-decoration: none;
}

/* blinking cursor */
.cursor {
	animation: blinker 1s step-start infinite;
	color: var(--white);
}
@keyframes blinker {
	50% {
		opacity: 0;
	}
}

/* section headings */
#folder {
	text-align: left;
	color: var(--blue);
}
