---
export interface Props {
	cmd: string;
	params: string;
}
const { cmd, params } = Astro.props;
---

<div class="newline">
	<span class="username">&lambda;</span>
	<span class="prompt">❯</span>
	<a class="return">{cmd}</a>
	<span class="path">{params}</span>
</div>